#section-main {
  background-image: linear-gradient(to left, white , rgb(236, 236, 236));
  
}

.nofloat {
  float: none;
}

#field-infos, #field-data, #field-check {
  /* margin: auto;
  width: 70vw; */
  /* background-color: LightGrey; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}