ol.phrases li {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}
ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    color: red;
}
h1 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}
li em{
    font-weight: bold;
}

.linguagens li:nth-child(-n+3) {
    color: blue;
}
li:contains('Java') {
    background-color: pink;
}

